Repository imewei/homodyne-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: homodyne-dead-code-check, homodyne-quality-metrics

Path conditions:
  homodyne-dead-code-check: any of: \.py$ and not (^(homodyne/tests/|tests/|.*test.*\.py$|__init__\.py$)) and not ((?x)^(
    \.eggs/|
    \.git/|
    \.github/|
    \.hg/|
    \.mypy_cache/|
    \.pytest_cache/|
    \.ruff_cache/|
    \.tox/|
    \.venv/|
    venv/|
    __pycache__/|
    _build/|
    build/|
    dist/|
    .*\.egg-info/|
    bandit_security_report\.json|
    coverage\.xml|
    htmlcov/|
    \.agent-os/|
    \.claude/|
    node_modules/
)$
)
  homodyne-quality-metrics: any of: \.py$, but not: (?x)^(
    \.eggs/|
    \.git/|
    \.github/|
    \.hg/|
    \.mypy_cache/|
    \.pytest_cache/|
    \.ruff_cache/|
    \.tox/|
    \.venv/|
    venv/|
    __pycache__/|
    _build/|
    build/|
    dist/|
    .*\.egg-info/|
    bandit_security_report\.json|
    coverage\.xml|
    htmlcov/|
    \.agent-os/|
    \.claude/|
    node_modules/
)$


refactor: optimize core analysis and optimization modules
  homodyne/__init__.py
  homodyne/analysis/core.py
  homodyne/cli/run_homodyne.py
  homodyne/core/kernels.py
  homodyne/core/optimization_utils.py
  homodyne/optimization/classical.py
  homodyne/optimization/robust.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

feat: add import analysis and testing infrastructure
  homodyne/tests/README_IMPORT_TESTS.md
  homodyne/tests/establish_baselines.py
  homodyne/tests/import_analyzer.py
  homodyne/tests/import_workflow_integrator.py
Due: homodyne-quality-metrics

fix: update pre-commit configuration to use Python 3.13
  .pre-commit-config.yaml
  homodyne/__init__.py
  pyproject.toml
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: disable unimport hook for Python 3.13 compatibility
  .pre-commit-config.yaml
Due: none

fix: resolve test collection errors and import issues
  homodyne/core/composition.py
  homodyne/core/workflows.py
  homodyne/tests/import_analyzer.py
  homodyne/tests/import_workflow_integrator.py
  homodyne/tests/test_advanced_import_tooling.py
  homodyne/tests/test_algorithm_optimization.py
  homodyne/tests/test_function_composition.py
  homodyne/tests/test_performance_profiling.py
  homodyne/tests/test_startup_performance.py
  homodyne/tests/test_type_hint_modernization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: update pre-commit to use system Node.js
  .github/workflows-disabled/ci.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  homodyne/config/laminar_flow.json
  homodyne/config/static_anisotropic.json
  homodyne/config/static_isotropic.json
  homodyne/config/template.json
Due: none

fix: resolve 9 test failures with parallel agent fixes
  .gitignore
  homodyne/optimization/ml_acceleration.py
  homodyne/optimization/robust.py
  homodyne/performance/startup_monitoring.py
  homodyne/tests/test_initialization_optimization.py
  homodyne/tests/test_optimization_performance.py
  homodyne/ui/completion/adapter.py
  homodyne/ui/completion/cache.py
  homodyne/ui/completion/optimize_performance.py
  homodyne/ui/completion/plugins.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

docs: add CHANGELOG entry for version consistency updates
  CHANGELOG.md
Due: none

fix: resolve 4 remaining test failures with mock and threshold fixes
  homodyne/tests/test_startup_monitoring.py
  homodyne/tests/test_startup_performance.py
Due: homodyne-quality-metrics

fix: resolve startup monitoring test failures with singleton mock injection
  homodyne/tests/test_startup_monitoring.py
  pyproject.toml
Due: homodyne-quality-metrics

fix: update simulation time arrays, CLI optimization unpacking, and shell completion system
  homodyne/analysis/core.py
  homodyne/cli/core.py
  homodyne/cli/create_config.py
  homodyne/cli/optimization.py
  homodyne/cli/simulation.py
  homodyne/cli/visualization.py
  homodyne/config/laminar_flow.json
  homodyne/config/solver_optimization_analysis.md
  homodyne/config/solver_optimization_summary.md
  homodyne/config/static_anisotropic.json
  homodyne/config/static_isotropic.json
  homodyne/config/template.json
  homodyne/config/update_solver_configs.py
  homodyne/core/kernels.py
  homodyne/optimization/classical.py
  homodyne/ui/completion/README.md
  homodyne/ui/completion/core.py
  homodyne/ui/completion/fast_handler.py
  homodyne/ui/completion/install_completion.py
  homodyne/ui/completion/installer.py
  homodyne/ui/completion/plugins.py
  homodyne/ui/completion/uninstall_completion.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: add validation for empty optimization parameter arrays
  homodyne/optimization/classical.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: add comprehensive validation and debugging for empty parameter arrays
  homodyne/cli/optimization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: add array length checks before indexing in parameter validation
  homodyne/optimization/classical.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: add missing numpy import to cli optimization module
  homodyne/cli/optimization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: correct tuple unpacking and robust optimizer initialization
  homodyne/cli/core.py
  homodyne/cli/optimization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: correct method name for calculating theoretical correlation in plots
  homodyne/cli/visualization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: apply proper scaling to theoretical fits in plots and save comprehensive results
  homodyne/cli/visualization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

feat: add comprehensive experimental metadata to results file
  homodyne/cli/visualization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: correct robust optimizer method name and return value handling
  homodyne/cli/optimization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: disable caching in robust optimizer to avoid pickle RLock error
  homodyne/cli/optimization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

feat: implement safe object hashing to fix pickle RLock errors with caching enabled
  homodyne/cli/optimization.py
  homodyne/core/caching.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

feat: implement comprehensive output structure with method hierarchy
  homodyne/cli/core.py
  homodyne/cli/visualization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: handle None chi-squared values and add final_chi_squared key support
  homodyne/cli/optimization.py
  homodyne/cli/visualization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

feat: run all three robust optimization methods (wasserstein, scenario, ellipsoidal)
  homodyne/cli/core.py
  homodyne/cli/optimization.py
  homodyne/cli/visualization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

feat: save all classical optimization methods separately (Nelder-Mead, Gurobi)
  homodyne/cli/core.py
  homodyne/cli/optimization.py
  homodyne/cli/visualization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: use actual method name from result instead of hardcoding nelder_mead
  homodyne/cli/visualization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: correct method name and add scaling in comparison plots
  homodyne/cli/visualization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

docs: update README with comprehensive output structure for all methods
  README.md
Due: none

style: apply markdown formatting from mdformat hook
  README.md
Due: none

style: apply code formatting from pre-commit hooks
  homodyne/cli/core.py
  homodyne/cli/optimization.py
  homodyne/cli/visualization.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

docs: add chi-squared calculation notes as reference
  Chi-squared Calculation.txt
Due: none

fix: correct time_length calculation and add frame counting utilities
  ML_TRAINING_README.md
  homodyne/analysis/core.py
  homodyne/cli/core.py
  homodyne/cli/enhanced_runner.py
  homodyne/cli/simulation.py
  homodyne/core/composed_analysis.py
  homodyne/core/config.py
  homodyne/core/io_utils.py
  homodyne/core/kernels.py
  homodyne/core/workflows.py
  homodyne/data/xpcs_loader.py
  homodyne/optimization/classical.py
  homodyne/tests/test_time_length_calculation.py
  homodyne/ui/cli_enhancer.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: add robust file fallback for phi_angles loading
  homodyne/analysis/core.py
Due: homodyne-dead-code-check, homodyne-quality-metrics
