Repository imewei/homodyne-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: homodyne-dead-code-check, homodyne-quality-metrics

homodyne-dead-code-check:
  name: homodyne-deadcode-detection
  entry: python -c "try:\n    from homodyne.tests.test_dead_code_detection_pipeline import main\n    main()\nexcept ImportError:\n    print('Dead code detection module not available, skipping...')\n    exit(0)"
  language: python
  ...

homodyne-quality-metrics:
  name: homodyne-quality-check
  entry: python -c "try:\n    from homodyne.tests.test_code_quality_metrics import main\n    main()\nexcept ImportError:\n    print('Quality metrics module not available, skipping...')\n    exit(0)"
  language: python
  ...

fix: implement cache-aware phi angles loading per user specification
  homodyne/analysis/core.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

feat: implement complete APS-U format data loading with processed_bins mapping
  homodyne/data/xpcs_loader.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix: skip angle subsampling when n_angles < 4 and fix ellipsoidal memory limit
  homodyne/config/laminar_flow.json
  homodyne/config/static_anisotropic.json
  homodyne/config/static_isotropic.json
  homodyne/config/template.json
  homodyne/optimization/classical.py
  homodyne/optimization/robust.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

docs: update CLAUDE.md to v1.0.0 and consolidate documentation
  .gitignore
  CHANGELOG.md
  MANIFEST.in
  Makefile
  README.md
  docs/CONSOLIDATION_PLAN.md
  docs/DOCUMENTATION_CONSOLIDATION_SUMMARY.md
  docs/ML_TRAINING_README.md
  docs/api/README.md
  docs/api/analysis_core.md
  docs/dev/archive/parameter_sync_2025-08/constraint_sync_report.md
  docs/dev/archive/parameter_sync_2025-08/parameter_constraints_testing.md
  docs/dev/archive/solver_optimization_2025-09-30/solver_optimization_analysis.md
  docs/dev/archive/solver_optimization_2025-09-30/solver_optimization_summary.md
  docs/research/methodology.md
  homodyne/__init__.py
  homodyne/cli/simulation.py
  homodyne/config/laminar_flow.json
  homodyne/config/static_anisotropic.json
  homodyne/config/static_isotropic.json
  homodyne/config/template.json
  homodyne/core/io_utils.py
  homodyne/optimization/classical.py
  homodyne/optimization/robust.py
  homodyne/tests/TESTING.md
  homodyne/tests/test_cli_integration.py
  homodyne/tests/test_code_quality_metrics.py
  homodyne/tests/test_final_complexity_verification.py
  homodyne/tests/test_function_composition.py
  homodyne/tests/test_high_complexity_functions.py
  homodyne/tests/test_performance_profiling.py
  homodyne/tests/test_startup_monitoring.py
  homodyne/tests/test_startup_optimization.py
  homodyne/tests/test_startup_performance.py
  homodyne/tests/test_startup_performance_validation.py
  homodyne/tests/test_type_hint_modernization.py
  pyproject.toml
  requirements-dev.txt
  requirements-optional.txt
  requirements.txt
Due: homodyne-dead-code-check, homodyne-quality-metrics

docs: fix Sphinx build errors and warnings to achieve clean build
  docs/api-reference/_autosummary/homodyne.analysis.core.rst
  docs/api-reference/_autosummary/homodyne.core.config.rst
  docs/api-reference/_autosummary/homodyne.core.io_utils.rst
  docs/api-reference/_autosummary/homodyne.core.kernels.rst
  docs/api-reference/_autosummary/homodyne.core.rst
  docs/api-reference/_autosummary/homodyne.optimization.classical.rst
  docs/api-reference/_autosummary/homodyne.plotting.rst
  docs/api-reference/index.rst
  docs/api-reference/utilities.rst
  docs/conf.py
  docs/developer-guide/performance.rst
  docs/performance.rst
  docs/research/computational_methods.rst
  docs/research/index.rst
  docs/research/publications.rst
  docs/research/theoretical_framework.rst
  docs/user-guide/examples.rst
Due: homodyne-dead-code-check, homodyne-quality-metrics

docs: complete g₁ → c₁ notation standardization in analysis-modes.rst
  docs/user-guide/analysis-modes.rst
Due: none

docs: fix API documentation to match actual implementation
  docs/api-reference/index.rst
Due: none

docs: fix API usage in developer guide and user examples
  docs/developer-guide/contributing.rst
  docs/developer-guide/testing.rst
  docs/user-guide/examples.rst
Due: none

docs: fix remaining API usage in testing and troubleshooting guides
  docs/developer-guide/testing.rst
  docs/developer-guide/troubleshooting.rst
Due: none

docs: add comprehensive import conventions and verification report
  IMPORT_CONVENTIONS.md
  VERIFICATION_REPORT_IMPORTS.md
Due: none

fix: synchronize configuration files with codebase and fix missing package data
  .pre-commit-config.yaml
  VERIFICATION_REPORT_CONFIG.md
  homodyne/py.typed
  pyproject.toml
Due: none

fix: remove conda configuration from ReadTheDocs build
  .readthedocs.yaml
Due: none

chore: remove temporary verification report files
  IMPORT_CONVENTIONS.md
  VERIFICATION_REPORT_CONFIG.md
  VERIFICATION_REPORT_IMPORTS.md
Due: none

feat: update dependencies and re-enable GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  pyproject.toml
Due: none

chore: update ruff configuration to ignore non-critical linting rules
  pyproject.toml
Due: none

fix: add missing imports and configure per-file linting exceptions
  homodyne/tests/test_build_deployment_pipeline.py
  homodyne/tests/test_quality_engineering_continuous_improvement.py
  pyproject.toml
Due: homodyne-quality-metrics

docs: remove specified sections from documentation
  README.md
  docs/research/index.rst
Due: none

docs: update Institute for Molecular Engineering to Pritzker School
  README.md
  docs/research/index.rst
Due: none

fix: downgrade sphinx-copybutton requirement to available version
  docs/requirements.txt
Due: none

docs: update version references to 1.0.0 and sync isort version
  docs/api-reference/analysis-core.md
  docs/api-reference/overview.md
  docs/research/methodology.md
  requirements-dev.txt
Due: none

chore: update linting configuration and apply code formatting
  .pre-commit-config.yaml
  homodyne/analysis/core.py
  homodyne/cli/create_config.py
  homodyne/core/composition.py
  homodyne/core/config.py
  homodyne/core/workflows.py
  homodyne/optimization/classical.py
  homodyne/performance/__init__.py
  homodyne/performance/startup_monitoring.py
  homodyne/tests/test_advanced_debugging_tools.py
  homodyne/tests/test_advanced_import_tooling.py
  homodyne/tests/test_analysis_core.py
  homodyne/tests/test_automated_qa_pipeline.py
  homodyne/tests/test_config_management.py
  homodyne/tests/test_final_complexity_verification.py
  homodyne/tests/test_import_verification.py
  homodyne/tests/test_ml_acceleration.py
  homodyne/tests/test_performance_baseline.py
  homodyne/tests/test_performance_profiling.py
  homodyne/tests/test_security_validation.py
  homodyne/tests/test_security_vulnerability_assessment.py
  homodyne/tests/test_simple_profiling.py
  homodyne/tests/test_startup_performance_validation.py
  homodyne/tests/test_validation_summary.py
  homodyne/tests/test_vectorization_parallel.py
  homodyne/ui/interactive.py
  homodyne/ui/visualization_optimizer.py
  pyproject.toml
Due: homodyne-dead-code-check, homodyne-quality-metrics

chore: extend linting ignores and apply final formatting
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: remove pre-push from default hook types to prevent formatting during push
  .pre-commit-config.yaml
Due: none

fix: resolve GitHub Actions CI/CD failures across 10 workflows
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fix: resolve CI/CD failures from commit 8c0500e
  pyproject.toml
Due: none

fix: resolve pre-commit formatter conflicts and CI/CD configuration issues
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  homodyne/cli/enhanced_runner.py
  homodyne/config/update_solver_configs.py
  homodyne/core/kernels.py
  homodyne/core/security_metrics.py
  homodyne/optimization/classical.py
  homodyne/performance/regression_prevention.py
  homodyne/statistics/chi_squared.py
  homodyne/tests/conftest.py
  homodyne/tests/test_advanced_debugging_tools.py
  homodyne/tests/test_advanced_import_tooling.py
  homodyne/tests/test_behavioral_equivalence.py
  homodyne/tests/test_distributed_ml_integration.py
  homodyne/tests/test_functionality_validation.py
  homodyne/tests/test_import_verification.py
  homodyne/tests/test_initialization_optimization.py
  homodyne/tests/test_ml_acceleration.py
  homodyne/tests/test_optimization_performance.py
  homodyne/tests/test_optimization_utils.py
  homodyne/tests/test_quality_engineering_continuous_improvement.py
  homodyne/tests/test_scientific_validation.py
  homodyne/tests/test_security_validation.py
  homodyne/tests/test_security_vulnerability_assessment.py
  homodyne/tests/test_startup_monitoring.py
  homodyne/tests/test_startup_performance.py
  homodyne/tests/test_startup_performance_validation.py
  homodyne/tests/test_time_length_calculation.py
  homodyne/tests/test_type_hint_modernization.py
  homodyne/validation/performance_validation.py
Due: homodyne-dead-code-check, homodyne-quality-metrics

docs: add ReadTheDocs documentation link to README
  README.md
Due: none

fix: make Vulture and GitHub Pages deployment non-blocking in CI/CD
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

fix(ci): handle missing test markers and optional dependencies
  .github/workflows/ci.yml
  homodyne/tests/test_import_verification.py
Due: homodyne-quality-metrics

fix(test): correct optional module filtering to use startswith
  homodyne/tests/test_import_verification.py
Due: homodyne-quality-metrics

fix(ci): force bash shell for cross-platform test command compatibility
  .github/workflows/ci.yml
Due: none

fix(tests): add Windows compatibility for test teardown and UTF-8 encoding
  .github/workflows/ci.yml
  homodyne/tests/test_advanced_import_tooling.py
Due: homodyne-quality-metrics

chore: add auto-generated _version.py to .gitignore
  .gitignore
Due: none

fix(ci): resolve Release workflow failures - security scan and cross-platform test issues
  .pre-commit-config.yaml
  homodyne/core/lazy_imports.py
  homodyne/core/result_memoization.py
  homodyne/optimization/distributed.py
  homodyne/tests/test_config_management.py
  homodyne/tests/test_validation_summary.py
  homodyne/ui/completion/cache.py
  pyproject.toml
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix(release): resolve v1.0.0 PyPI publication blockers
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  homodyne/core/config.py
  homodyne/core/lazy_imports.py
  homodyne/optimization/utils.py
  homodyne/tests/test_distributed_ml_integration.py
  homodyne/tests/test_validation_summary.py
  pyproject.toml
Due: homodyne-dead-code-check, homodyne-quality-metrics

fix(tests): add UTF-8 encoding and mark flaky tests as slow
  homodyne/tests/test_behavioral_equivalence.py
  homodyne/tests/test_config_management.py
  homodyne/tests/test_distributed_ml_integration.py
  homodyne/tests/test_optimization_performance.py
Due: homodyne-quality-metrics

fix(tests): replace emoji characters with ASCII for Windows compatibility
  homodyne/tests/import_workflow_integrator.py
Due: homodyne-quality-metrics

fix(tests): complete emoji removal and update test assertions
  homodyne/tests/import_workflow_integrator.py
  homodyne/tests/test_advanced_import_tooling.py
Due: homodyne-quality-metrics

Path conditions:
  homodyne-dead-code-check: any of: \.py$ and not (^(homodyne/tests/|tests/|.*test.*\.py$|__init__\.py$)) and not ((?x)^(
    \.eggs/|
    \.git/|
    \.github/|
    \.hg/|
    \.mypy_cache/|
    \.pytest_cache/|
    \.ruff_cache/|
    \.tox/|
    \.venv/|
    venv/|
    __pycache__/|
    _build/|
    build/|
    dist/|
    .*\.egg-info/|
    bandit_security_report\.json|
    coverage\.xml|
    htmlcov/|
    \.agent-os/|
    \.claude/|
    node_modules/
)$
)
  homodyne-quality-metrics: any of: \.py$, but not: (?x)^(
    \.eggs/|
    \.git/|
    \.github/|
    \.hg/|
    \.mypy_cache/|
    \.pytest_cache/|
    \.ruff_cache/|
    \.tox/|
    \.venv/|
    venv/|
    __pycache__/|
    _build/|
    build/|
    dist/|
    .*\.egg-info/|
    bandit_security_report\.json|
    coverage\.xml|
    htmlcov/|
    \.agent-os/|
    \.claude/|
    node_modules/
)$

